/* biome-ignore-all lint/suspicious/noUnknownAtRules: Tailwind CSS directives */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: #1f2937;
}

/* ANIMATION FLOAT */
@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.float {
  animation: float 4s ease-in-out infinite;
}

/* NAVBAR SCROLL */
.navbar-scrolled {
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(12px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
/* ANIMATION WAVE */
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60%,
  100% {
    transform: rotate(0deg);
  }
}

.wave {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave 2.5s infinite;
}